body{
    max-width: 630px;
    margin: 0 auto;
    background-color: #D0BB73;
    font-family: 'Microsoft Yahei', sans-serif;
}

h2,h5{
  text-align: center;
  font-family: 'Microsoft Yahei', sans-serif;
}

/* 弹性盒子布局 */
.box{
    display: flex;
}

/* 公共样式 */
.chess-item{
    width: 80px;
    height: 35px;
    background-color: #c74f0a;
    margin: 0 5px 0 5px;
    font-size: 15px;
    color: white;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 3px 15px #333333;
    border-radius: 10px;
}

/* 棋子公共样式 */
.chess{
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 6px 3px 15px #333333;
}

/* 黑棋 */
.black{
    background-color: black;
}

/* 白棋 */
.white{
    background-color: white;
}

/* 悔棋，撤销，重来 */
.chess-actions{
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

/* 当前棋子状态 */
#chess-status{
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 30px 0 0;
    background-color: black;
    border-radius: 50%;
    box-shadow: 6px 3px 15px #333333;
}

/* 棋盘 */
.chess-board{
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0 20px 0;
    border-right: 1px solid rgb(71, 71, 71);
    position: relative;
    box-shadow: 8px 8px 20px #7a7a7a;
}

/* 每一行样式 */
.chess-row{
    flex-grow: 1;
    /* 格子立体样式看着眼花 */
    /* box-shadow: 1px 1px 5px #555555; */
}

/* 单元格样式 */
.cell{
    width: 41px;
    height: 41px;
    border: 1px solid #531C29;
    border-right: 0;
    border-bottom: 0;  
    /* box-shadow: 1px 3px 8px #555555; */
}

/* 最后一行加上底线 */
.cell:last-child{
    border-bottom: 1px solid rgb(71, 71, 71);
}

/* 遮罩层弹窗 */
.play_again{
    width: 150px;
    height: 100px;
    transition: 1s;
}