body{
    max-width: 588px;
    margin: 0 auto;
    background-color: #D0BB73;
    font-family: 'Microsoft Yahei', sans-serif;
    position: relative;
}

h2,h5{
  text-align: center;
  font-family: 'Microsoft Yahei', sans-serif;
}

/* 弹性盒子布局 */
.box{
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

/* 公共样式 */
.chess-item{
    width: 80px;
    height: 35px;
    background-color: #c74f0a;
    margin: 0 5px 0 5px;
    font-size: 15px;
    color: white;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    box-shadow: 6px 3px 15px #333333;
    border-radius: 10px;
}

/* 棋子公共样式 */
.chess{
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 6px 3px 15px #333333;
    flex: 1;
}

/* 黑棋 */
.black{
    background-color: black;
}

/* 白棋 */
.white{
    background-color: white;
}

/* 悔棋，撤销，重来 */
.chess-actions{
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

/* 当前棋子状态 */
#chess-status{
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 30px 0 0;
    background-color: black;
    border-radius: 50%;
    box-shadow: 6px 3px 15px #333333;
}

/* 棋盘 */
.chess-board{
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0 20px 0;
    border-left: 1px solid rgb(71, 71, 71);
    border-top: 1px solid rgb(71, 71, 71);
    box-shadow: 8px 8px 20px #7a7a7a;
    z-index: 99;
    display: block;
    position: absolute;
}

.Panel{
    position: absolute;
    width: 100%;
    height: 588px;
    z-index: 100;
    display: block;
    margin: 20px 0 20px 0;
}

/* 每一行样式 */
.chess-row{
    display: flex;
    flex: 1;
    /* 格子立体样式看着眼花 */
    /* box-shadow: 1px 1px 5px #555555; */
}

/* 单元格样式 */
.cell{
    flex: 1;
    width: 41px;
    height: 41px;
    border-right: 1px solid #531C29;
    border-bottom: 1px solid #531C29;  
    /* box-shadow: 1px 3px 8px #555555; */
}

/* 最后一行加上底线 */
.chess-row:nth-child(15){
    /* background: black; */
}

.cell:nth-child(15){
    /* background: #D0BB73;
    border-bottom : 0; */
}

/* 遮罩层弹窗 */
.play_again{
    width: 100%;
    height: 630px;
    background-color: rgb(247, 253, 253);
    position: fixed;
    top: 145px;
    left: 0;
    opacity: 0.1;
    z-index: 100;
}